<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WoodworkBerserk.Properties.Settings.database" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=WOODWORKBERSERK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WoodworkBerserk.Properties.Settings.db" connectionString="Data Source=;Initial Catalog=WOODWORKBERSERK;Integrated Security=True" />
        <add name="WoodworkBerserk.Properties.Settings.Setting" connectionString="Data Source=balarama.db.elephantsql.com;Initial Catalog=onyyvcau;User ID=onyyvcau;Password=uceLAbGSTVO4HyOLNczJinlQGWiKzVRR;Integrated Security True" />
    </connectionStrings>
</configuration>